# Axum

$env:AXUM_PORT='3000'

# MongoDB

$MONGO_USER='MONGO_USERNAME_GOES_HERE'
$MONGO_PASS='MONGO_PASSWORD_GOES_HERE'
$MONGO_URL='MONGO_URL_GOES_HERE'

$env:MONGO_SERVER_URL="mongodb+srv://${MONGO_USER}:${MONGO_PASS}@${MONGO_URL}/?retryWrites=true&w=majority"
